@using VotingSystem.Dto.Elections;
@model IEnumerable<ElectionDto>;

@{
    ViewData["Title"] = "Election";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> @ViewData["Title"]</h4>
                <a href="@Url.Action("CreateElection")" class="card-description"> Create Election </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table embed-responsive">
                        <thead>
                            <tr>
                                <th> Election Name </th>
                                <th> Description </th>
                                <th> Start Date </th>
                                <th> End Date </th>
                                <th> Action </th>
                                <th> Result </th>
                                <th> Candidate </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td> @item.ElectionName</td>
                                        <td>@item.DescriptionName</td>
                                        <td>@item.StartDate</td>
                                        <td>@item.EndDate</td>
                                        <td>
                                            <a href="@Url.Action("EditElection",new {id = item.Id})" class="btn btn-gradient-dark btn-icon-text btn-sm">
                                                View <i class="mdi mdi-file-check btn-icon-append"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Candidates", "Candidate",new {electionId = item.Id})" class="btn btn-gradient-dark btn-icon-text btn-sm">
                                                Result <i class="mdi mdi-file-check btn-icon-append"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("CreateCandidate", "Candidate",new {electionId = item.Id})" class="btn btn-gradient-dark btn-icon-text btn-sm">
                                                Add <i class="mdi mdi-file-check btn-icon-append"></i>
                                            </a>|
                                            <a href="@Url.Action("Candidates", "Candidate",new {electionId = item.Id})" class="btn btn-gradient-dark btn-icon-text btn-sm">
                                                View <i class="mdi mdi-file-check btn-icon-append"></i>
                                            </a>
                                        </td>
                                    </tr>

                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" class="text-center"> No data found</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


