@model VotingSystem.Dto.Users.UserDto;

@{
    ViewData["Title"] = "User";
    ViewData["SubTitle"] = "Edit User";

    var id = ViewContext.RouteData.Values["id"];
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">@ViewData["SubTitle"]</h5>
            </div>
            <div class="card-body">
                <form asp-action="EditUser" asp-route-id="@id">
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Matric Number</label>
                                <input type="text" class="form-control" name="MatricNumber" placeholder="Matric Number" value="@Model.MatricNumber">
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>College Id</label>
                                <input type="text" class="form-control" name="CollegeId" placeholder="College Id" value="@Model.CollegeId">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Department Id</label>
                                <input type="text" class="form-control" name="DepartmentId" placeholder="Department Id" value="@Model.DepartmentId">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary btn-round">Edit User</button>
                            <a href="@Url.Action("Users")" class="btn btn-secondary btn-round">Users List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
