<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="../assets/img/logo-small.png">
            </div>
            <!-- <p>CT</p> -->
        </a>
        <a href="https://www.creative-tim.com" class="simple-text logo-normal">
            Creative Tim
            <!-- <div class="logo-image-big">
              <img src="../assets/img/logo-big.png">
            </div> -->
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active ">
                <a href="./dashboard.html">
                    <i class="nc-icon nc-bank"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Elections","Election")">
                    <i class="nc-icon nc-diamond"></i>
                    <p>Elections</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Positions","Position")">
                    <i class="nc-icon nc-badge"></i>
                    <p>Positions</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Votes","Vote")">
                    <i class="nc-icon nc-touch-id"></i>
                    <p>Votes</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("PaymentInvoices","PaymentInvoice")">
                    <i class="nc-icon nc-credit-card"></i>
                    <p>Payment Invoices</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Users","User")">
                    <i class="nc-icon nc-single-02"></i>
                    <p>Users</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="./upgrade.html">
                    <i class="nc-icon nc-spaceship"></i>
                    <p>Upgrade to PRO</p>
                </a>
            </li>
        </ul>
    </div>
</div>