@using VotingSystem.Dto.Candidates
@model IEnumerable<CandidateDto>;

@{
    ViewData["Title"] = "Candidate";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> @ViewData["Title"]</h4>
                @* <a href="@Url.Action("CreateCandidate")" class="card-description"> Create Candidate </a> *@
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Candidate Name </th>
                                <th> Matric Number </th>
                                <th> Election</th>
                                <th> Level </th>
                                <th> Position</th>
                                <th> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.CandidateName</td>
                                        <td>@item.MatricNumber</td>
                                        <td>@item.ElectionName</td>
                                        <td>@item.Level</td>
                                        <td>@item.PositionName</td>
                                        <td>
                                            <a href="@Url.Action("EditCandidate",new {id = item.Id})" class="btn btn-gradient-dark btn-icon-text btn-sm">
                                                View <i class="mdi mdi-file-check btn-icon-append"></i>
                                            </a>|
                                            <a href="@Url.Action("CreateManifesto", "Manifesto",new {id = item.Id})" class="btn btn-gradient-dark btn-icon-text btn-sm">
                                                Add Manifesto <i class="mdi mdi-file-check btn-icon-append"></i>
                                            </a>
                                        </td>
                                    </tr>

                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" class="text-center"> No data found</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
